## Uso de groupby

(agrupar por)

In [2]:
import pandas as pd

In [7]:
# dataframe
ventas = pd.DataFrame({
        "producto": ["A","A","B","A","B","B"],
        "ventas": [10,20,30,40,50,60]
})

ventas

  producto  ventas
0        A      10
1        A      20
2        B      30
3        A      40
4        B      50
5        B      60

In [12]:
# agrupar producto, suma total
ventas.groupby('producto').sum()

          ventas
producto
A             70
B            140

In [14]:
# dataframe
ventas2 = pd.DataFrame({
        "producto": ["A","A","B","A","B","B"],
        "sub_categoria": [1,2,2,2,1,1],
        "ventas": [10,20,30,40,50,60]

})

ventas2

  producto  sub_categoria  ventas
0        A              1      10
1        A              2      20
2        B              2      30
3        A              2      40
4        B              1      50
5        B              1      60

In [17]:
ventas2.groupby('producto').sum()

          sub_categoria  ventas
producto
A                     5      70
B                     4     140

**Nota:** todas las columnas se agrupan en suma.

In [18]:
# Segmentar tabla 1
ventas2.groupby('producto')['ventas'].sum()

producto
A     70
B    140
Name: ventas, dtype: int64

In [19]:
# Segmentar tabla 2
ventas2.groupby('producto')['sub_categoria'].count()

producto
A    3
B    3
Name: sub_categoria, dtype: int64

In [23]:
# Segmentar tabla 1
ventas2.groupby('producto')['ventas'].mean()

producto
A    23.333333
B    46.666667
Name: ventas, dtype: float64

In [24]:
# dataframe
ventas3 = pd.DataFrame({
        "producto": ["A","A","B","A","B","B","C"],
        "sub_categoria": [1,2,2,2,1,1,1],
        "ventas": [10,20,30,40,50,60,15]

})

ventas3

  producto  sub_categoria  ventas
0        A              1      10
1        A              2      20
2        B              2      30
3        A              2      40
4        B              1      50
5        B              1      60
6        C              1      15

In [30]:
# ordenar datos
ventas3.groupby('producto')['ventas'].sum().sort_values(ascending=False)

producto
B    140
A     70
C     15
Name: ventas, dtype: int64

**Nota:** sort values es ordenar valores.

In [38]:
# utilizar un filtro
# ordenar datos
datos_filtro = ventas3.groupby('producto')['ventas'].sum().sort_values(ascending=False)
datos_filtro[datos_filtro >= 70]

producto
B    140
A     70
Name: ventas, dtype: int64

In [41]:
# Cuando tengo mÃ¡s columnas
datos_filto_2 = ventas3.groupby('producto').sum()
datos_filto_2[datos_filto_2['ventas'] >= 70]

          sub_categoria  ventas
producto
A                     5      70
B                     4     140